In [ ]:
import pandas as pd

In [ ]:
import sqlite3

try:
  #create connection to database
  conn = sqlite3.connect('artInfo.db')

  #create cursor instance
  c = conn.cursor()

  #create the table
  c.execute("""Create Table Art (
           artistID INTEGER PRIMARY KEY,
           firstName TEXT,
           lastName TEXT,
           artID INTEGER,
           info TEXT,
           photo BLOB NOT NULL  
           )""")

  #save the changes
  conn.commit()

  #close the connection
  #conn.close()

except sqlite3.Error as error:
    print("Error while creating a sqlite table", error)
#finally:
 #   if conn:
  ##      conn.close()
    #    print("sqlite connection is closed")

In [ ]:
#FOR TESTING PURPOSES ONLY. Delete this cell later
import sqlite3

#create connection to database
conn = sqlite3.connect('artInfo.db')

#create cursor instance
c = conn.cursor()

#create the table
c.execute("""Create Table Art (
          artistID INTEGER PRIMARY KEY,
          firstName TEXT,
          lastName TEXT,
          artID INTEGER,
          info TEXT,
          image BLOB NOT NULL  
          )""")

#save the changes
conn.commit()

#close the connection
#conn.close()

In [ ]:
#sample data
c.execute("INSERT INTO Art VALUES(1,'john','doe',0101,'mickey mouse','1.jpg')")

In [ ]:
sql = '''select * from Art t'''

In [ ]:
pd.read_sql(sql, conn)

   artistID firstName lastName  artID          info  photo
0         1      john      doe    101  mickey mouse  1.jpg